<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Liên kết tới file CSS -->
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <!-- Thanh điều hướng -->
    <nav>
        <a href="/" class="active">Home</a>
        <a href="/invoice">Invoice</a>
        <a href="/revenue" >Revenue</a>
        <a href="/order">Order</a>
    </nav>

    <h1>Home</h1>
</body>

</html>