<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant management</title>
    <link rel="stylesheet" href="/css/orderStyle.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/invoice">Invoice</a>
        <a href="/revenue" >Revenue</a>
        <a href="/order"  class="active">Order</a>
        <a href="/customer">Customer</a>
    </nav>
    <div class="title">Payment</div>
    <form action="/order/payment/<%=madonhang%>" method="post" class="payment-form">
        <div>
            <label for="MADONHANG">Order ID</label>
            <input type="text" name="MADONHANG" value="<%=madonhang%>" readonly>
        </div>
        <div>
            <label for="MAHOADON">Invoice ID</label>
            <input type="text" name="MAHOADON" required>
        </div>
        <div>
            <label for="THOIGIAN">Time</label>
            <input type="datetime-local" name="THOIGIAN" required>
        </div>
        <div>
            <label for="MANV">Staff ID</label>
            <input type="text" name="MANV" required>
        </div>
        <div>
            <label for="SDT">Customer's Phone Number</label>
            <input type="text" name="SDT" required>
        </div>
        <button type="submit">Save</button>
    </form>
</body>

</html>