<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant management</title>
    <link rel="stylesheet" href="/css/orderStyle.css">
</head>

<body>
    <ul class="sidenav">
        <li><a class="active" href="/order">Đơn hàng</a></li>
    </ul>
    <div class="title">Thanh toán</div>
    <form action="/order/payment/<%=madonhang%>" method="post" class="payment-form">
        <div>
            <label for="MADONHANG">Mã đơn hàng</label>
            <input type="text" name="MADONHANG" value="<%=madonhang%>" readonly>
        </div>
        <div>
            <label for="MAHOADON">Mã hóa đơn</label>
            <input type="text" name="MAHOADON">
        </div>
        <div>
            <label for="THOIGIAN">Thời gian</label>
            <input type="datetime-local" name="THOIGIAN">
        </div>
        <div>
            <label for="MANV">Mã nhân viên</label>
            <input type="text" name="MANV">
        </div>
        <div>
            <label for="SDT">Số điện thoại khách hàng</label>
            <input type="text" name="SDT">
        </div>
        <button type="submit">Lưu</button>
    </form>
</body>

</html>