body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f7f6;
    /* Màu nền nhẹ nhàng */
}

h1,
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 32px;
}

.h1-title {
    margin-top: 72px;
    font-size: 28px;
    color: #333;
    margin-bottom: 72px;
}

.h2-title {
    margin-top: 72px;
    margin-bottom: 72px;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #222522;
    color: white;
}

.revenue-invoice-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.revenue-invoice-table th,
.revenue-invoice-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.revenue-invoice-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.revenue-invoice-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.revenue-invoice-table tr:hover {
    background-color: #e0f7fa;
}

.revenue-invoice-table td {
    white-space: nowrap;
}

@media (max-width: 600px) {
    .revenue-invoice-table {
        display: block;
        overflow-x: auto;
    }
}

.revenue-filter-form {
    margin-bottom: 20px;
    padding: 36px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.revenue-filter-form h1 {
    font-size: 24px;
    color: #404840;
    margin-bottom: 20px;
}

.revenue-filter-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #404840;
}

.revenue-filter-form input[type="date"],
.revenue-filter-form input[type="number"],
.revenue-filter-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.revenue-filter-form input[type="radio"] {
    margin-right: 8px;
}

.revenue-filter-form .radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /* Tạo khoảng cách giữa các radio buttons */
    align-items: center;
}

.revenue-filter-form input[type="radio"]:checked+label {
    font-weight: bold;
    color: #566e56;
    /* Tô màu xanh cho label khi được chọn */
}

.revenue-filter-form button {
    background-color: #566e56;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    /* Full-width cho button */
    margin-top: 16px;
}

.revenue-filter-form button:hover {
    background-color: #445644;
    /* Tô màu đậm hơn khi hover */
}

.revenue-filter-form button:focus {
    outline: none;
}