/*whole*/
body {
    margin: 0;
}

button {
    background-color: #036989;
    color: white;
    text-align: center;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    display: inline;
    margin: 10px 10px 10px 0px;
    transition: background-color 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #11395d;
}
button.delete {
    background-color: #da3d27;
} 
button.delete:hover {
    background-color: #8d2f18 ;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #ddd;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #036989;
    color: white;
    text-align: center;
}

ul.sidenav {
    margin: 0;
    padding: 0;
    width: 7%;
    background-color: hsl(217, 33%, 17%);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  ul.sidenav li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  ul.sidenav li a.active {
    background-color: #334155;
    color: #ffffff;
  }
  
  ul.sidenav li a:hover:not(.active) {
    background-color: #334155;
    color: #ffffff;
  }

div.content {
    margin-left: 9%;
    padding: 1px 16px;
    height: 1000px;
    font-size:20px
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    ul.sidenav li a {
        float: left;
        padding: 15px;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
.title {
    padding-bottom: 30px;
    text-align: center;
    color: #1488DB;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}